// Home

.home {
  size: 100% 100vh;

  // BG Hero
  @include pseudo-before {
    size: 100% 100%;
    background: linear-gradient(330.24deg, rgba(#0b1d26, 0) 31.06%, #0b1d26 108.93%);
  }

  &__content {
    position: relative;
    z-index: 1;

    width: 950px;
    @include transform-center;

    @include flex-column;
    row-gap: 32px;
  }

  &__title {
    text-transform: capitalize;
    line-height: 100px;
    font-size: 88px;
  }
}