<!-- Footer -->

<footer class="footer">
  <div class="container">
    <div class="footer__wrapper">
      <div class="footer__info">
        <a href="#" class="footer__logo">
          @@include('../svg/logo.svg')
        </a>

        <p class="footer__description">
          Get out there & discover your next slope, mountain & destination!
        </p>

        <span class="footer__rights">
          Copyright 2019 MNTN, Inc. Terms & Privacy
        </span>
      </div>

      <div class="footer__menu">
        <nav class="footer__nav">
          <span class="footer__nav__title">More on The Blog</span>
          <a href="#" class="footer__nav__link">About MNTN</a>
          <a href="#" class="footer__nav__link">Contributors & Writers</a>
          <a href="#" class="footer__nav__link">Write For Us</a>
          <a href="#" class="footer__nav__link">Contact Us</a>
          <a href="#" class="footer__nav__link">Privacy Policy</a>
        </nav>

        <nav class="footer__nav">
          <span class="footer__nav__title">More on MNTN</span>
          <a href="#" class="footer__nav__link">The Team</a>
          <a href="#" class="footer__nav__link">Jobs</a>
          <a href="#" class="footer__nav__link">Press</a>
        </nav>
      </div>
    </div>
  </div>
</footer>