<!-- Header -->

<header class="header">
  <a href="#" class="header__logo">
    @@include('../svg/logo.svg')
  </a>

  <nav class="header__nav">
    <a href="#" class="header__nav__link">Equipment</a>
    <a href="#" class="header__nav__link">About us</a>
    <a href="#" class="header__nav__link">Blog</a>
  </nav>

  <a href="#" class="header__account">
    <div class="header__account__icon">
      @@include('../svg/account.svg')
    </div>
    <span class="header__account__text">Acccount</span>
  </a>
</header>